<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.dao.OrderMapper">
    <select id="selectOrderByBussId" resultType="com.example.forum.entity.Orders" >
        select *
        from orders
        where  bussiness_id= #{bussinessId}
    </select>
    <select id="selectOrderByConName" resultType="com.example.forum.entity.Orders" >
        select *
        from orders
        where  consumer_name= #{consumerName}
    </select>
    <delete id="deleteOrder" parameterType="int">
        delete from orders
        where id = #{id}
    </delete>
    <insert id="addOrder"  parameterType="Orders">
        insert into orders(consumer_name, consumer_phone, consumer_position, bussiness_id, bussiness_foodname,time)
        values(#{consumerName},#{consumerPhone},#{consumerPosition},#{bussinessId},#{bussinessFoodname},#{time})
    </insert>


</mapper>